<footer>
    <a href="https://twitter.com/_musauu" target="_blank">
        <i class="social-icon fa-brands fa-x-twitter fa-xl"></i></a>
      <a href="kokidanny15@gmail.com" target="_blank">
        <i class="social-icon fa-solid fa-envelope fa-xl"></i></a>
      <a href="https://github.com/TechDanny" target="_blank">
        <i class="social-icon fa-brands fa-github fa-xl"></i></a>
    Copyright &copy; TechDanny Blog
</footer>