<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
    <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam aut, asperiores illo eos sit non.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus tempora est exercitationem voluptate? Asperiores, minima.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, eligendi!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ducimus pariatur a minus.</p>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>